<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaotime.mapper.BoardMapper">

	<resultMap type="java.util.Map" id="boardIndex">
		<result property="indexcode" column="INDEXCODE" />
		<result property="sectornum" column="SECTORNUM" javaType="java.lang.String" />
		<result property="sectorname" column="SECTORNAME" />
		<result property="fmarketval" column="FMARKETVAL" javaType="java.lang.String" />
		<result property="alistedshare" column="ALISTEDSHARE" javaType="java.lang.String" />
		<result property="stnum" column="STNUM" javaType="java.lang.String" />
		<result property="closingprice" column="CLOSINGPRICE" javaType="java.lang.String" />
	</resultMap>

	<select id="getIndustryBoard" resultMap="boardIndex">
		SELECT 
		A.*,NVL(B.CLOSINGPRICE,1000.0) AS CLOSINGPRICE
		FROM (
		SELECT   D.INDEXCODE,A.SECTORNUM/10 AS SECTORNUM, A.SECTORNAME,SUM(E.FMARKETVAL)*10000 AS FMARKETVAL,ROUND(SUM(F.ALISTEDSHARE),-2) AS ALISTEDSHARE,COUNT(1) AS STNUM  FROM STK_SECTOR A
		JOIN STK_BASICINFO B ON A.SECUCODE=B.SECUCODE
		JOIN CNT_INDUSTRY C ON A.SECTORNUM=C.INDUNUM AND C.INDULEVEL=1
		JOIN CNT_SECTOR_DJSBK D ON A.SECTORNUM=D.SECTORNUM AND D.STATUS=1
		LEFT JOIN (SELECT  SECUCODE,FMARKETVAL FROM STK_DAILYQUOTEINDEX  WHERE  TRADINGDAY=(SELECT MAX(TRADINGDAY) FROM STK_DAILYQUOTEINDEX))E ON A.SECUCODE=E.SECUCODE
		LEFT JOIN (SELECT COMCODE,ALISTEDSHARE FROM COM_SHARECHANGE M WHERE ENDDATE=(SELECT MAX(ENDDATE) FROM COM_SHARECHANGE WHERE COMCODE=M.COMCODE AND ENDDATE<![CDATA[<=]]>TRUNC(SYSDATE) )) F
		ON B.COMCODE=F.COMCODE
		WHERE A.SECTORSTANDARDCODE=15 AND A.ENDDATE IS NULL AND B.SECUCATEGORYCODEII=1001 AND B.EXCHANGECODE IN (101,105)
		GROUP BY D.INDEXCODE,A.SECTORNUM, A.SECTORNAME ORDER BY INDEXCODE)  A
		LEFT JOIN TEMP_DJSZS B ON A.INDEXCODE=B.TRADINGCODE

	</select>


	<select id="getDistrictBoard" resultMap="boardIndex">
		SELECT 
		A.*,NVL(B.CLOSINGPRICE,1000.0) AS CLOSINGPRICE
		FROM (
		SELECT   D.INDEXCODE,D.SECTORNUM, D.SECTORNAME,SUM(E.FMARKETVAL)*10000 AS FMARKETVAL,ROUND(SUM(F.ALISTEDSHARE),-2) AS ALISTEDSHARE,SUM(CASE WHEN B.SECUCODE IS NOT NULL THEN 1 ELSE 0 END) AS STNUM  FROM STK_SECTOR A
		JOIN STK_BASICINFO B ON A.SECUCODE=B.SECUCODE AND A.SECTORSTANDARDCODE=30 AND A.ENDDATE IS NULL AND B.SECUCATEGORYCODEII=1001
		JOIN CNT_SECTOR_DJSBK D ON A.SECTORNUM=D.SECTORNUM AND D.STATUS=1
		LEFT JOIN (SELECT  SECUCODE,FMARKETVAL FROM STK_DAILYQUOTEINDEX  WHERE  TRADINGDAY=(SELECT MAX(TRADINGDAY) FROM STK_DAILYQUOTEINDEX))E ON A.SECUCODE=E.SECUCODE
		LEFT JOIN (SELECT COMCODE,ALISTEDSHARE FROM COM_SHARECHANGE M WHERE ENDDATE=(SELECT MAX(ENDDATE) FROM COM_SHARECHANGE WHERE COMCODE=M.COMCODE AND ENDDATE<![CDATA[<=]]>TRUNC(SYSDATE))) F
		ON B.COMCODE=F.COMCODE
		GROUP BY D.INDEXCODE,D.SECTORNUM, D.SECTORNAME ORDER BY INDEXCODE)  A
		LEFT JOIN TEMP_DJSZS B ON A.INDEXCODE=B.TRADINGCODE

	</select>
	

	<select id="getConceptBoard" resultMap="boardIndex">
		<![CDATA[
		SELECT 
		A.*,NVL(B.CLOSINGPRICE,1000.0) AS CLOSINGPRICE
		FROM (
		SELECT   D.INDEXCODE,D.SECTORNUM, D.SECTORNAME,SUM(E.FMARKETVAL)*10000 AS FMARKETVAL,ROUND(SUM(F.ALISTEDSHARE),-2) AS ALISTEDSHARE,SUM(CASE WHEN B.SECUCODE IS NOT NULL THEN 1 ELSE 0 END) AS STNUM  FROM STK_SECTOR_HOT A
		JOIN STK_BASICINFO B ON A.SECUCODE=B.SECUCODE    AND B.SECUCATEGORYCODEII=1001 AND A.ENDDATE IS NULL
		JOIN CNT_SECTOR_DJSBK D ON A.SECTORNUM=D.SECTORNUM AND D.STATUS=1
		LEFT JOIN (SELECT  SECUCODE,FMARKETVAL FROM STK_DAILYQUOTEINDEX  WHERE  TRADINGDAY=(SELECT MAX(TRADINGDAY) FROM STK_DAILYQUOTEINDEX))E ON A.SECUCODE=E.SECUCODE
		LEFT JOIN (SELECT COMCODE,ALISTEDSHARE FROM COM_SHARECHANGE M WHERE ENDDATE=(SELECT MAX(ENDDATE) FROM COM_SHARECHANGE WHERE COMCODE=M.COMCODE AND ENDDATE<=TRUNC(SYSDATE))) F
		ON B.COMCODE=F.COMCODE
		GROUP BY D.INDEXCODE,D.SECTORNUM, D.SECTORNAME  HAVING COUNT(1)<=4000/7 ORDER BY INDEXCODE) A
		LEFT JOIN TEMP_DJSZS B ON A.INDEXCODE=B.TRADINGCODE
		]]>
	</select>
	
	<resultMap type="java.util.Map" id="boardCodeRule">
		<result property="indexcode" column="INDEXCODE" />
		<result property="sectornum" column="SECTORNUM" javaType="java.lang.String" />
		<result property="sectorname" column="SECTORNAME" />
		<result property="szcode" column="SZCODE"/>
		<result property="shcode" column="SHCODE"/>
	</resultMap>
	
	<select id="getBoardCodeRule" resultMap="boardCodeRule">
		<![CDATA[
		SELECT  INDEXCODE,SECTORNUM,SECTORNAME
		,TO_CHAR(WM_CONCAT(SZCODE)) AS SZCODE
		,TO_CHAR(WM_CONCAT(SHCODE)) AS SHCODE
		FROM (
		SELECT   D.INDEXCODE,A.SECTORNUM/10 AS SECTORNUM, A.SECTORNAME, CASE WHEN B.EXCHANGECODE=101 THEN  B.TRADINGCODE ELSE NULL END SHCODE,
		CASE WHEN B.EXCHANGECODE=105 THEN  B.TRADINGCODE ELSE NULL END SZCODE 
		  FROM STK_SECTOR A
		JOIN STK_BASICINFO B ON A.SECUCODE=B.SECUCODE
		JOIN CNT_INDUSTRY C ON A.SECTORNUM=C.INDUNUM AND C.INDULEVEL=1
		JOIN CNT_SECTOR_DJSBK D ON A.SECTORNUM=D.SECTORNUM AND D.STATUS=1
		WHERE A.SECTORSTANDARDCODE=15 AND A.ENDDATE IS NULL AND B.SECUCATEGORYCODEII=1001 AND B.EXCHANGECODE IN (101,105)
		ORDER  BY D.INDEXCODE,A.SECTORNUM, A.SECTORNAME,B.TRADINGCODE
		)GROUP BY  INDEXCODE,SECTORNUM,SECTORNAME
		union all
		SELECT  INDEXCODE,SECTORNUM,SECTORNAME
		,TO_CHAR(WM_CONCAT(SZCODE)) AS SZCODE
		,TO_CHAR(WM_CONCAT(SHCODE)) AS SHCODE
		FROM (
		SELECT   D.INDEXCODE,D.SECTORNUM, D.SECTORNAME, CASE WHEN B.EXCHANGECODE=101 THEN  B.TRADINGCODE ELSE NULL END SHCODE,
		CASE WHEN B.EXCHANGECODE=105 THEN  B.TRADINGCODE ELSE NULL END SZCODE 
		  FROM STK_SECTOR A
		JOIN STK_BASICINFO B ON A.SECUCODE=B.SECUCODE
		AND  A.SECTORSTANDARDCODE=30 AND A.ENDDATE IS NULL AND B.SECUCATEGORYCODEII=1001 AND B.EXCHANGECODE IN (101,105)
		JOIN CNT_SECTOR_DJSBK D ON A.SECTORNUM=D.SECTORNUM AND D.STATUS=1
		ORDER  BY D.INDEXCODE,A.SECTORNUM, A.SECTORNAME,B.TRADINGCODE
		)GROUP BY  INDEXCODE,SECTORNUM,SECTORNAME
		union all
		SELECT  INDEXCODE,SECTORNUM,SECTORNAME
		,TO_CHAR(WM_CONCAT(SZCODE)) AS SZCODE
		,TO_CHAR(WM_CONCAT(SHCODE)) AS SHCODE
		FROM (
		SELECT  D.INDEXCODE,D.SECTORNUM, D.SECTORNAME, CASE WHEN B.EXCHANGECODE=101 THEN  B.TRADINGCODE ELSE NULL END SHCODE,
		CASE WHEN B.EXCHANGECODE=105 THEN  B.TRADINGCODE ELSE NULL END SZCODE   FROM STK_SECTOR_HOT A
		  JOIN STK_BASICINFO B ON A.SECUCODE=B.SECUCODE AND B.SECUCATEGORYCODEII=1001 AND A.ENDDATE IS NULL
		JOIN CNT_SECTOR_DJSBK D ON A.SECTORNUM=D.SECTORNUM AND D.STATUS=1
		ORDER  BY D.INDEXCODE,A.SECTORNUM, A.SECTORNAME,B.TRADINGCODE
		)GROUP BY  INDEXCODE,SECTORNUM,SECTORNAME  HAVING COUNT(1)<=4000/7
		]]>
	</select>
	
	<delete id="deleteBoardPrice">
		delete from TEMP_DJSZS
	</delete>
	
	<insert id="insertBoardPrice">
		insert into TEMP_DJSZS(tradingcode, closingprice) 
		values
		(#{stockcode, jdbcType=VARCHAR}, #{lastprice, jdbcType=NUMERIC})
	</insert>
</mapper>